.main-container {
  display: flex;
  height: 100vh;
}

.main-container > * {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
}

.mockup {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .mockup {
    display: none;
  }
}
